.body {
  background-image: url('../images/background-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.landing {
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Contrail One', cursive;
  color: white;
}

.nav-link:hover,
.brand-logo:hover {
  color: orange;
}
.landing-li {
  color: orange;
}
.landing-li:hover {
  color: white;
}
.landing > div {
  padding-top: 50px;
}
.title {
  color: orange;
}
